<div class="container">
  <div class="row">
    <div class="offset-3 col-6">
      <div class="form-group">
        <label for="category_name_edit_input" class="control-label">Kateqoriya adı: </label>
        <input id="category_name_edit_input" type="text" [(ngModel)]="category.name" class="form-control">
      </div>
      <button class="btn btn-success" (click)="EditCategory()">Redaktə et</button>
      <a class="btn btn-danger" [style.margin]="toLeft" routerLink="/categories">Geriyə qayıt</a>
    </div>
  </div>
</div>