<app-header></app-header>

<div class="container-fluid">
  <div class="row">
    <app-sidebar class="col-md-2"></app-sidebar>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>

<div class="shadow-layout active" *ngIf="loginService.IsLoggedIn()==false">
  <div class="login-root">
    <div class="form-group">
      <label for="input-username-login">Username: </label>
      <input id="input-username-login" [(ngModel)]="user.username" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="input-password-login">Password: </label>
      <input id="input-password-login" [(ngModel)]="user.password" type="password" class="form-control">
    </div>
    <button (click)="SignIn()" type="button" class="btn btn-primary mt-3 p-2">Daxil ol</button>
  </div>
</div>